@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
}

/* Main section Style */
.main {
    /* background-image: url(../Asstes/Image/mainBagroundimg.jpg); */
    background-image: url(../Asstes/Image/Netflix-Background.jpg);
    /* background-image: url(../Asstes/Image/bg.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1300px, 100vw);
    height: 83vh;
    position: relative;
}

.main .box {
    height: 83vh;
    width: 100%;
    opacity: 0.70;
    position: absolute;
    top: 0;
    background-color: #000000;
}

nav {
    max-width: 75vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

/* logo culor */
nav img {
    color: #ff0000;
    width: 160px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}

/* Main section */
.hero {
    font-family: 'Poppins', sans-serif;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    color: #fdfbfb;
    gap: 20px;
    padding: 0 30px;
}

/* > menas imidiate chalid pr only css apply hogi */

.hero> :nth-child(1) {
    font-size: 46px;
    font-weight: 900;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

.hero> :nth-child(2) {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    font-family: 'Roboto Flex', sans-serif;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    line-height: 30px;
    font-family: 'Roboto Flex', sans-serif;
}

.separation {
    height: 8px;
    background: #73707059;
}

.btn {
    padding: 3px 33px 6px 33px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: 2px solid wheat;
    background-color: #090909a8;
}

.btn-red {
    background-color: #de0404;
    color: #ffffff;
    padding: 14px 50px 12px 20px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-weight: 400;
}

.btn-red:hover {
    background-color: #b70c0c;
    color: #000000;
    font-weight: 500;
}

.btn-red-sm {
    padding: 6px 18px 8px 20px;
    background-color: #e10505;
    color: #ffffff;
    border: none;
}

.btn-red-sm:hover {
    background: #b70c0c;
    color: #000000;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.main input {
    padding: 12px 138px 20px 13px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    background-color: #1c1a1a95;
    border: 1px solid #f6eeee89;
}

/* section css */
.first {
    height: 72vh;
    display: flex;
    max-width: 80vw;
    margin: auto;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 650px;
    position: relative;
    z-index: 5;
}

.secImg video {
    position: absolute;
    top: 117px;
    right: 64px;
    width: 500px
    /* top: 45px;
    right: 0;
    width: 472px; */
}

/* second video css */
.secImg-thrid {
    position: relative;
}

.secImg-thrid img {
    width: 650px;
    position: relative;
    z-index: 1;
}

.secImg-thrid video {
    position: absolute;
    top: 70px;
    right: 130px;
    width: 400px;
    /* top: 150px;
    right: 64px;
    width: 500px */
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div :nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    padding: 0 0 18px 0;
    /* justify-content: center; */
    font-size: 50px;
    /* font-weight: 900; */
}

.faq {
    background: #000000;
    color: #ffffff;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
}

.faqbox {
    transition: all 1s ease-out;
    background-color: #2d2d2d;
    justify-content: space-between;
    display: flex;
    margin: 10px auto;
    cursor: pointer;
    padding: 25px;
    max-width: 75vw;
    font-size: 24px; 
}

footer {
    color: #c2bebe;
    max-width: 75vw;
    margin: auto;
    padding: 20px;
}

footer .questions {
    padding: 34px 0;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* color: #fcf8f8; */
}

.footer a {
    color: #c2bebe;
    font-size: 15px;
    font-weight: 300;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-english {
    margin-top: 20px;
    padding: 0px 20px 0px 20px;
    background-color: #000000a5;
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
    border: 1px solid #ac9d9ddd;
    border-radius: 3px;
}

.footer-netflix-india {
    margin-top: 20px;
    color: #bab5b5;
    font-size: 15px;
    font-weight: 300;
}

/* faq content css */
.faq-span-content {
   padding: 34px 326px 1px 450px;
    justify-items: center;
    height: 10vh;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    overflow: hidden;
}

/* .faq-span-content {
    color: rgb(36, 75, 159);
    justify-content: center;
    align-items: center;
} */

.faq input {
    padding: 13px 168px 20px 13px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 15px;
    color: #ffffff;
    background-color: #1c1a1a95;
    border: 1px solid #f6eeee89;
}

.faq-hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 0 0 30px 0;
}